* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-flow:wrap;
  background: #141527;
  min-height: 100vh;
  text-align: center;
  width: 100%;
  padding-bottom:50px;
}
