form {
  width:75%;
  display:flex;
  justify-content: space-between;
  height:100%;
}

form input,
form button {
  height:100%;
  display:block;
}

form input {
  width:75%;
  background-color:transparent;
  border:0;
  font-size:16px;
  color:#fff;
}

form button {
  width: 25%;
  background-color:purple;
  border-radius:20px;
}
